*{
    padding: 0;
    margin: 0;
}
.mobile-header{
    display: none;
}
.outer-div{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}
.scroll-page{
    width: 600px;
    height: 300px;
    /* border: 1px solid red; */
}
.post{
    width: 100%;
    /* border: 1px solid red; */
    padding: 0px 50px 0px 50px;
}
.suggested{
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red;  */
    margin-top: 50px;
}
.profile{
    display: flex;
    margin-left: -70px;
}
.profile .img img{
    width: 45px;
    height: 47px;
    border-radius: 100px;
}
.headings{
    margin-left: 20px;
}
.headings h1{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.908);
    margin-top: 5px;
    font-weight: bold;
}
.headings h1 span{
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.686);
}


/* media quries */
@media screen and (max-width: 1050px){
    .outer-div{
        justify-content: center;
    }
    .suggested{
        display: none;
    }
}
@media screen and (max-width: 668px){
    .scroll-page{
        width: 100%;
        padding: 0px; 
    }
}
@media screen and (max-width: 766px){
    .mobile-header{
        display: block;
    }
}
@media screen and (max-width: 615px){
    .outer-div{
        padding: 0px 20px 0px 20px;
    }
    .scroll-page{
        width: 100%;
        /* padding: 0px;  */
    }
    .post{
        padding: 0px 10px 0px 10px;
    }
}