<div class="container-fluid pb-5">
    <div class="row">
        <div class="col-12">
            <!-- show header on mobile -->
            <div class="mobile-header">
                <app-mobile-header></app-mobile-header>
            </div>
        </div>
    </div>
    <!-- home page scroll start -->
    <div class="row">
        <div class="col-12 outer-div">
            <div class="scroll-page">
                <app-stories></app-stories> 
                <div class="post">
                    <app-post-one></app-post-one>
                </div>
            </div>
            <!-- suggested start -->
            <div class="suggested">
                <div class="profile">   
                    <div class="img">
                        <img src="assets/main_components/profile.jpg" alt="">
                    </div>
                    <div class="headings">
                        <h1>mohammadibrahim4054<br><span>Mohammad Ibrahim</span></h1>
                    </div>
                </div>
                <app-suggested></app-suggested>
            </div>
            <!-- suggested end -->
        </div>
    </div>
    <!-- home page scroll  -->
</div>