<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="mobile-header">
                <app-mobile-header></app-mobile-header>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 outer-div">
            <div class="scroll-page">
                <app-stories></app-stories> 
                <div class="post">
                    <app-post-one></app-post-one>
                </div>
            </div>
            <div class="suggested">
                <div class="profile">   
                    <div class="img">
                        <img src="assets/main_components/home/person.jpg" alt="">
                    </div>
                    <div class="headings">
                        <h1>mohammadibrahim4054<br><span>Mohammad Ibrahim</span></h1>
                    </div>
                </div>
                <app-suggested></app-suggested>
            </div>
        </div>
    </div>
</div>