<div class="post-ourter">
    <div class="user-info">
        <div class="image">
            <img src="assets/main_components/person 1.jpg" alt="">
        </div>
            <h1>Mohammad Ibrahim . <span>3h</span><br><span>Sponsored</span></h1>
        <i class="fa-solid fa-ellipsis"></i>
    </div>
    <div class="post-content">
        <div class="image">
            <img src="assets/main_components/person 1.jpg" alt="">
        </div>
    </div>
    <div class="likes-and-comments">
        <app-like-coments-icons></app-like-coments-icons>
        <h2>30 likes</h2>
        <h4>View all 12 comments</h4>
        <div class="add-cooments">
            <input type="text" placeholder="Add a comment...">
            <i class="fa-regular fa-face-smile"></i>
        </div>
    </div>
</div>