<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="birthday-form-out-div">
                <form class="birthday-form">
                    <div class="cake">
                        <img src="/assets/signup/cake.png" alt="">
                        <span></span>
                    </div>
                    <div class="add-birthday">
                        <h1>Add Your Birthday</h1>
                    </div>
                    <div class="why-provide-birthday">
                        <h1>
                            This won't be a part of your public profile.<br>
                            <span>Why do I need to provide my birthday?</span>
                        </h1>
                    </div>
                    <div class="birthday-fields">
                        <select name="" id="">
                            <option value="">{{mydate | date:'MMMM'}}</option>
                        </select>
                        <select name="" id="">
                            <option value="">{{mydate | date:'d'}}</option>
                        </select>
                        <select name="" id="">
                            <option value="">{{mydate | date:'Y'}}</option>
                        </select>
                    </div>
                    <div class="descriptions">
                        <h1>You need to enter the date you were born</h1>
                        <h1>Use your own birthday, even if this account is for a business, a pet, or something else.</h1>
                    </div>
                    <button routerLink="/verify" class="w-100 next-button">Next</button>
                    <div class="go-back">
                        <a routerLink="/signUp">Go Back</a>
                    </div>
                </form>
                <div class="sign-up-link">
                    <h1 routerLink="/">Have an account? <span>Log in</span></h1>
                </div>
                <div class="mt-3">
                    <app-get-app></app-get-app>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <app-footer></app-footer>
    </div>
</div>
