.signUp-form-out-div{
    width: 350px;
    margin-top: 15px;
}
.signUp-form{
    border: 1px solid var(--text-6);
    border-radius: 2px;
    padding: 40px;
    padding-bottom: 40px;
}
.signUp-title-img{
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
}
.signUp-description{
    display: flex;
    justify-content: center;
}
.signUp-description h1{
    font-size: 17px;
    color: var(--text-6);
    text-align: center;
}
.fb-link{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 25px;
    background-color: var(--main-color);
    padding: 6px 0px 2px 0px;
    border-radius: 5px;
    cursor: pointer;
}
.fb-link .fa-square-facebook{
    font-size: 20px;
    color: 	var(--text-1);
    margin-top: 3px;
}
.fb-link h1{
    margin-left: 10px;
    font-size: 13px;
    color: rgb(244, 245, 251);
    font-weight: bold;
    margin-top: 5px;
}
.or-line{
    background-color: var(--text-10);
    height: 1px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
.or-line span{
    width: 50px;
    height: 25px;
    background-color: var(--theme-color);
    color: var(--text-10);
    font-weight: bold;
    position: absolute;
    margin-top: -10px;
    font-size: 12px;
}
.mobile-or-email-field,
.fullname-field,
.username-field,
.password-field{
    position: relative;
}
.mobile-or-email-field input,
.fullname-field input,
.username-field input,
.password-field input{
    border: none;
    background: transparent;
    outline: none;
    background-color: var(--text-17);
    color: white;
    font-size: 13px;
    margin-top: -10px;
}
.fa-circle-check,
.fa-circle-xmark{
    position: absolute;
    top: 8px;
    right: 5px;
    font-size: 18px;
}
.fa-circle-check{
    color: var(--main-color);
}
.fa-circle-xmark{
    color: rgba(255, 99, 71, 0.753);
}
.contact-information{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contact-information h1{
    font-size: 12.5px;
    color: var(--text-8);
    text-align: center;
}
.contact-information h1 span{
    cursor: pointer;
    color: var(--main-color);
}
.policy-and-privacy{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.policy-and-privacy h1{
    font-size: 12.5px;
    color: var(--text-8);
    text-align: center;
}
.policy-and-privacy h1 span{
    cursor: pointer;
    color: var(--main-color);
}
.SinUp-button{
    height: 30px;
    background-color: var(--main-color);
    color: var(--text-1);
    border: none;
    outline: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.sign-up-link{
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid var(--text-6);
    border-radius: 2px;
    margin-top: 10px;
    cursor: pointer ;
}
.sign-up-link h1{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.906);
}
.sign-up-link h1 span{
    color: var(--main-color);
    font-weight: bold;
}

