<div class="outer-div">
    <div class="suggest-for-you">
        <h1>Suggested for you</h1>
        <a routerLink="suggest">See All</a>
    </div>
    <div class="accounts">
        <div class="image">
            <img src="assets/main_components/home/person.jpg" alt="">
        </div>
        <div class="name">
            <h1>Mohammad Ibrahim<br><span>followed by _Mohammad Ibrahim</span></h1>
        </div>
        <a>Follow</a>
    </div>
    <div class="accounts">
        <div class="image">
            <img src="assets/main_components/home/person.jpg" alt="">
        </div>
        <div class="name">
            <h1>Mohammad Ibrahim<br><span>followed by _Mohammad Ibrahim</span></h1>
        </div>
        <a>Follow</a>
    </div>
    <div class="accounts">
        <div class="image">
            <img src="assets/main_components/home/person.jpg" alt="">
        </div>
        <div class="name">
            <h1>Mohammad Ibrahim<br><span>followed by _Mohammad Ibrahim</span></h1>
        </div>
        <a>Follow</a>
    </div>
    <div class="accounts">
        <div class="image">
            <img src="assets/main_components/home/person.jpg" alt="">
        </div>
        <div class="name">
            <h1>Mohammad Ibrahim<br><span>followed by _Mohammad Ibrahim</span></h1>
        </div>
        <a>Follow</a>
    </div>
    <div class="accounts">
        <div class="image">
            <img src="assets/main_components/home/person.jpg" alt="">
        </div>
        <div class="name">
            <h1>Mohammad Ibrahim<br><span>followed by _Mohammad Ibrahim</span></h1>
        </div>
        <a>Follow</a>
    </div>
    
</div>