.outer-div{
    width: 300px;
    margin-top: 30px;
}
/* accounts  */
.suggest-for-you{
    display: flex;
    justify-content: space-between;
}
.suggest-for-you h1{
    font-size: 13px;
    color: var(--text-6);
    font-weight: bold;
}
.suggest-for-you a{
    font-size: 12px;
    color: var(--text-4);
    font-weight: bold;
    cursor: pointer;
}
.suggest-for-you a:hover{
    color: var(--text-12);
}
.accounts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.accounts .image{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.accounts .image img{   
    width: 50px;
    height: 50px;
}
.accounts .name{
    margin-top: 10px;
}
.accounts .name h1{
    font-size: 13px;
    font-weight: bold;
    color: var(--text-1);

}
.accounts .name h1 span{
    font-size: 12px;
    font-weight: normal;
    color: var(--text-6);
}
.accounts a{
    color: var(--main-color);
    font-size: 13px;
    cursor: pointer;
}
.accounts a:hover{
    color: var(--text-1);
}
/* accounts end */
/* bottom links */
.bottom-links{
    margin-top: 40px;
}
.first-row a,
.second-row a,
.copy-right h1{
    font-size: 12px;
    color: var(--text-12);
    text-decoration: none;
    margin-left: 5px;
}
.first-row a:hover,
.second-row a:hover,
.copy-right h1:hover{
    text-decoration: underline;
}
.copy-right{
    margin-top: 20px;
}
.copy-right h1{
    text-transform: uppercase;
}
/* bottom links end */