<div class="outer-div">
    <!-- account -->
    <div class="suggest-for-you">
        <h1>Suggested for you</h1>
        <a routerLink="suggest">See All</a>
    </div>
    <div class="accounts">
        <div class="image">
            <img src="assets/main_components/home/person 1.jpg" alt="">
        </div>
        <div class="name">
            <h1>Mohammad Ibrahim<br><span>followed by _Mohammad Ibrahim</span></h1>
        </div>
        <a (click)="followFun()">{{Follow}}</a>
    </div>
    <div class="accounts">
        <div class="image">
            <img src="assets/main_components/home/person 2.jpg" alt="">
        </div>
        <div class="name">
            <h1>Mohammad Ibrahim<br><span>followed by _Mohammad Ibrahim</span></h1>
        </div>
        <a>Follow</a>
    </div>
    <div class="accounts">
        <div class="image">
            <img src="assets/main_components/home/person 3.jpg" alt="">
        </div>
        <div class="name">
            <h1>Mohammad Ibrahim<br><span>followed by _Mohammad Ibrahim</span></h1>
        </div>
        <a>Follow</a>
    </div>
    <div class="accounts">
        <div class="image">
            <img src="assets/main_components/home/person 4.jpg" alt="">
        </div>
        <div class="name">
            <h1>Mohammad Ibrahim<br><span>followed by _Mohammad Ibrahim</span></h1>
        </div>
        <a>Follow</a>
    </div>
    <div class="accounts">
        <div class="image">
            <img src="assets/main_components/home/person 1.jpg" alt="">
        </div>
        <div class="name">
            <h1>Mohammad Ibrahim<br><span>followed by _Mohammad Ibrahim</span></h1>
        </div>
        <a>Follow</a>
    </div>
    <!-- bottom link -->
    <div class="bottom-links">
        <div class="first-row">
            <a href="">About ,</a>
            <a href="">Help ,</a>
            <a href="">Press ,</a>
            <a href="">Api ,</a>
            <a href="">Jobs ,</a>
            <a href="">Privacy ,</a>
            <a href="">Terms</a>
        </div>
        <div class="second-row">
            <a href="">Locations ,</a>
            <a href="">Language ,</a>
            <a href="">Meta Verified</a>
        </div>
        <div class="copy-right">
            <h1>
                &copy; 2023 instagram from muhammad ibrahim
            </h1>
        </div>
    </div>
</div>