<div class="outer-div">
    <div class="main-heading">
        <h1>Notifications</h1>
    </div>
    <div class="users-outer">
        <div class="duration-heading">
            <h1>This week</h1>
        </div>
        <div class="user">
            <div class="image">
                <img src="assets/main_components/person 2.jpg" alt="">
            </div>
            <div class="user-info-heading">
                <h1>Mohammad Ibrahim 
                    <span>started<br>following you</span>
                </h1>
            </div>
            <div class="follow-btn">
                <button>Follow</button>
            </div>
        </div>
    </div>
</div>