<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="outer-div">
                <div class="instagram-logo">
                    <img src="/assets/instagram-tittle-img.png" alt="">
                </div>
                <div class="search-and-notifications">
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass" *ngIf="searcIcon"></i>
                        <input type="text" placeholder="Search" (click)="hideIcons()">
                        <i class="fa-solid fa-circle-xmark" 
                           (click)="removeSearchContent()" *ngIf="closeIcon">
                        </i>
                    </div>
                    <div class="notifications">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="creat">
                        <i class="fa-regular fa-square-plus"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
