<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="outer-div">
                <div class="instagram-logo">
                    <img src="/assets/instagram-tittle-img.png" alt="">
                </div>
                <div class="search-and-notifications">
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Search">
                    </div>
                    <div class="notifications">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
