<div class="outer-div">
    <div class="story">
        <div class="create-story">
            <img src="assets/main_components/home/profile.jpg" alt=""> 
        </div>
        <i class="fa-solid fa-plus"></i>
        <h1>Your story</h1>
    </div>
    <div class="story">
        <div class="story-image">
            <img src="assets/main_components/home/person 1.jpg" alt="">
        </div>
        <h1>Mohamm..</h1>
    </div>
    <div class="story">
        <div class="story-image">
            <img src="assets/main_components/home/person 2.jpg" alt="">
        </div>
        <h1>Mohamm..</h1>
    </div>
    <div class="story">
        <div class="story-image">
            <img src="assets/main_components/home/person 3.jpg" alt="">
        </div>
        <h1>Mohamm..</h1>
    </div>
    <div class="story">
        <div class="story-image">
            <img src="assets/main_components/home/person 4.jpg" alt="">
        </div>
        <h1>Mohamm..</h1>
    </div>
    <div class="story">
        <div class="story-image">
            <img src="assets/main_components/home/person 1.jpg" alt="">
        </div>
        <h1>Mohamm..</h1>
    </div>
    <div class="story">
        <div class="story-image">
            <img src="assets/main_components/home/person 2.jpg" alt="">
        </div>
        <h1>Mohamm..</h1>
    </div>
    <div class="story">
        <div class="story-image">
            <img src="assets/main_components/home/person 3.jpg" alt="">
        </div>
        <h1>Mohamm..</h1>
    </div>
</div>
