<div class="outer-div">
    <div class="story">
        <div class="story-image">
            <img src="assets/main_components/home/story-1.jpg" alt="">
        </div>
        <h1>story 1</h1>
    </div>
    <div class="story">
        <div class="story-image">
            <img src="assets/main_components/home/story-2.jpg" alt="">
        </div>
        <h1>story 1</h1>
    </div>
    <div class="story">
        <div class="story-image">
            <img src="assets/main_components/home/story-3.jpg" alt="">
        </div>
        <h1>story 1</h1>
    </div>
    <div class="story">
        <div class="story-image">
            <img src="assets/main_components/home/story-4.jpg" alt="">
        </div>
        <h1>story 1</h1>
    </div>
    <div class="story">
        <div class="story-image">
            <img src="assets/main_components/home/story-5.jpg" alt="">
        </div>
        <h1>story 1</h1>
    </div>
    <div class="story">
        <div class="story-image">
            <img src="assets/main_components/home/story-6.jpg" alt="">
        </div>
        <h1>story 1</h1>
    </div>
    <div class="story">
        <div class="story-image">
            <img src="assets/main_components/home/story-7.jpg" alt="">
        </div>
        <h1>story 1</h1>
    </div>
    <div class="story">
        <div class="story-image">
            <img src="assets/main_components/home/story-8.jpg" alt="">
        </div>
        <h1>story 1</h1>
    </div>
</div>
