<!-- bottom links start -->
<div class="row">
    <div class="col-12 bottom-links">
        <div class="divide-links">
            <div>
                <h1>Meta</h1>
                <h1>About</h1>
                <h1>Blog</h1>
                <h1>Jobs</h1>
                <h1>Help</h1>
                <h1>API</h1>
                <h1>Privacy</h1>
                <h1>Terms</h1>
            </div>
            <div>
                <h1>Top Accounts</h1>
                <h1>Locations</h1>
                <h1>Instagram Lite</h1>
                <h1>Threads</h1>
            </div>
        </div>
        <div class="divide-links">
            <div>
                <h1>Contact Uploading & Non-Users</h1>
                <h1>Meta Verified</h1>
            </div>
        </div>
    </div>
    <div class="col-12 mt-3">
        <div class="languages-and-copyright">
            <div class="languages">
                <select name="" id="">
                    <option value="">english</option>
                </select>
            </div>
            <div class="copyright">
                <h1>&copy; 2023 Instagram from Muhammad Ibrahim</h1>
            </div>
        </div>
    </div>
</div>
<!-- bottom links end -->


