/* You can add global styles to this file, and also import other style files */
:root{
    --main-color: #3bbc80;
    --theme-color: #000000;
    /* text colors  */
    --text-1: white;  
    --text-2: rgba(255, 255, 255, 0.959);  
    --text-3: rgba(255, 255, 255, 0.906);  
    --text-4: rgba(255, 255, 255, 0.858);  
    --text-5: rgba(255, 255, 255, 0.811);  
    --text-6: rgba(255, 255, 255, 0.69);  
    --text-7: rgba(255, 255, 255, 0.736);  
    --text-8: rgba(255, 255, 255, 0.568);  
    --text-9: rgba(255, 255, 255, 0.479);  
    --text-10: rgba(255, 255, 255, 0.455);  
    --text-11: rgba(255, 255, 255, 0.365);  
    --text-12: rgba(255, 255, 255, 0.353);  
    --text-13: rgba(255, 255, 255, 0.445);  
    --text-14: rgba(255, 255, 255, 0.31);  
    --text-15: rgba(255, 255, 255, 0.286); 
    --text-16: rgba(255, 255, 255, 0.218); 
    --text-17: rgba(255, 255, 255, 0.109); 
    --text-18: rgba(255, 255, 255, 0.154); 
    --text-19: rgba(255, 255, 255, 0.063); 
    --text-20: rgba(255, 255, 255, 0.037); 
}
body{
    background:  var(--theme-color);
    overflow-x: hidden;
}
*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}