/* You can add global styles to this file, and also import other style files */
:root{
    --main-color: #3bbc80;
    --theme-color: #12181d;
}
body{
    font-family: 'Inter', sans-serif;
    background:  var(--theme-color);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}