<div class="container-fluid out-div">
    <div class="row">
        <div class="col-3">
            <div class="sidebar">
                <div class="logo-image">
                    <img src="/assets/instagram-tittle-img.png" alt="">
                </div>
                <div class="links-outer">
                    <div class="links">
                        <i class="fa-solid fa-house"></i>
                        <h1>Home</h1>
                    </div>
                    <div class="links">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <h1>Serach</h1>
                    </div>
                    <div class="links">
                        <i class="fa-regular fa-compass"></i>
                        <h1>Explore</h1>
                    </div>
                    <div class="links">
                        <i class="fa-solid fa-clapperboard"></i>
                        <h1>Reels</h1>
                    </div>
                    <div class="links">
                        <i class="fa-brands fa-facebook-messenger"></i>
                        <h1>Messages</h1>
                    </div>
                    <div class="links">
                        <i class="fa-regular fa-heart"></i>
                        <h1>Notifications</h1>
                    </div>
                    <div class="links">
                        <i class="fa-regular fa-square-plus"></i>
                        <h1>Create</h1>
                    </div>
                    <div class="links">
                        <i class="fa-solid fa-house"></i>
                        <h1>Home</h1>
                    </div>
                    <div class="links">
                        <i class="fa-solid fa-bars"></i>
                        <h1>More</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9.5">
            <div class="display-pages">
            </div>
        </div>
    </div>
</div>
