<div class="container-fluid out-div">
    <div class="row">
        <div class="col-3">
            <div class="sidebar">
                <div class="logo-image">
                    <img src="/assets/instagram-tittle-img.png" alt="">
                </div>
                <div class="links-outer">
                    <!-- <div class="links" routerLink="home">
                        <i class="fa-solid fa-house" [ngClass]="{icon}" routerLink="home" routerLinkActive="active"
                            [routerLinkActiveOptions]={exact:true}></i>
                        <h1 routerLink="home" [ngClass]="{heading}" routerLinkActive="active"
                            [routerLinkActiveOptions]={exact:true}>
                            Home
                        </h1>
                    </div> -->
                    <div class="links" routerLink="home">
                        <i class="fa-solid fa-house" [ngClass]="{icon}"></i>
                        <h1 [ngClass]="{heading}">Home</h1>
                    </div>
                    <div class="links">
                        <i class="fa-solid fa-magnifying-glass" [ngClass]="{icon}"></i>
                        <h1 [ngClass]="{heading}">Serach</h1>
                    </div>
                    <div class="links">
                        <i class="fa-regular fa-compass" [ngClass]="{icon}"></i>
                        <h1 [ngClass]="{heading}">Explore</h1>
                    </div>
                    <div class="links">
                        <i class="fa-solid fa-clapperboard" [ngClass]="{icon}"></i>
                        <h1 [ngClass]="{heading}">Reels</h1>
                    </div>
                    <div class="links">
                        <i class="fa-brands fa-facebook-messenger" [ngClass]="{icon}"></i>
                        <h1 [ngClass]="{heading}">Messages</h1>
                    </div>
                    <div class="links">
                        <i class="fa-regular fa-heart" [ngClass]="{icon}"></i>
                        <h1 [ngClass]="{heading}">Notifications</h1>
                    </div>
                    <div class="links">
                        <i class="fa-regular fa-square-plus" [ngClass]="{icon}"></i>
                        <h1 [ngClass]="{heading}">Create</h1>
                    </div>
                    <div class="links">
                        <i class="fa-solid fa-house" [ngClass]="{icon}"></i>
                        <h1 [ngClass]="{heading}">Home</h1>
                    </div>
                    <div class="links">
                        <i class="fa-solid fa-bars" [ngClass]="{icon}"></i>
                        <h1 [ngClass]="{heading}">More</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9.5">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>